<%- include("./partials/header") -%>

<h2 class="text-center page-title">About Me</h2>

<div class="second-paragraph">
          
          <p class="sec-des"><%= secondParagraph %></p>
</div>

<%- include("./partials/footer") -%>
