<%- include("partials/header") -%>

<h2 class="text-center page-title">Contact</h2>

<div class="third-paragraph">

          <p class="third-p"><%= thirdParagraph %></p>
</div>

<%- include("partials/footer") -%>