<%- include("./partials/header") -%>

<h2 class="text-center page-title">Posts</h2>

          <h4 class="fp-title"><%= title %></h4>

          <p class="fp-des"><%= body %></p>  

<%- include("./partials/footer") -%>